@model YardView.Models.CheckedOutBook

@{
    ViewData["Title"] = "Create";
}

<% using (Html.BeginForm()) {%>
    <%: Html.ValidationSummary(true) %>

    <fieldset>
        <legend>Fields</legend>
        <div class="editor-label">
            <%: Html.LabelFor(model => model.BookId) %>
        </div>
        <div class="editor-field">
            <%: Html.TextBoxFor(model => model.BookId) %>
            <%: Html.ValidationMessageFor(model => model.BookId) %>
        </div>
       
        <div class="editor-label">
            <%: Html.LabelFor(model => model.UserId) %>
        </div>
        <div class="editor-field">
            <%: Html.TextBoxFor(model => model.UserId) %>
            <%: Html.ValidationMessageFor(model => model.UserId) %>
        </div>
       
        <div class="editor-label">
            <%: Html.LabelFor(model => model.Book) %>
        </div>
        <div class="editor-field">
            <%: Html.TextBoxFor(model => model.Book) %>
            <%: Html.ValidationMessageFor(model => model.Book) %>
        </div>  

         <div class="editor-label">
            <%: Html.LabelFor(model => model.User) %>
        </div>
        <div class="editor-field">
            <%: Html.TextBoxFor(model => model.User) %>
            <%: Html.ValidationMessageFor(model => model.User) %>
        </div>  

         <div class="editor-label">
            <%: Html.LabelFor(model => model.CheckoutDate) %>
        </div>
        <div class="editor-field">
            <%: Html.TextBoxFor(model => model.CheckoutDate) %>
            <%: Html.ValidationMessageFor(model => model.CheckoutDate) %>
        </div>  
             
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>

<% } %>